:root {
  --bulma-navbar-background-color: #06061b;
  --bulma-scheme-main: #06061b;
  --bulma-body-background-color: #06061b;
  --bulma-navbar-height: 100%;
  --bulma-body-color: #ffffff;
  --bulma-arrow-color: #15a0be;
  --bulma-code: #ffffff;

  --bulma-primary-h: 191deg !important;
  --bulma-primary-s: 80% !important;
}

html {
  font-family: "Inter", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #fff;
  background: #06061b;
}

header {
  height: 70px;
  border-bottom: 1px solid #303037;
}

.card {
  color: #ffffff;
}

a {
  color: #15a0be;
}

a.project-name:hover {
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.modal-card-body {
  background-color: #181b20;
}

.background {
  height: calc(100vh - 70px);
  background-image: repeating-linear-gradient(
    135deg,
    rgba(48, 48, 55, 0.2) 0px,
    rgb(11, 11, 34) 1px,
    transparent 0px,
    transparent 50%
  );
  background-size: 8px 8px;
}

.button,
.file-cta {
  /*font-size: 16px;*/
  /*padding: 4px 10px;*/
  /*color: #ffffff;*/
  /*background-color: #15a0be;*/
}

table {
  min-width: 720px;
}

tbody td,
tbody td {
  font-family: Monaco, Consolas, monospace;
  font-size: 12px;
  white-space: nowrap;
}

.content table td,
.content table th {
  border-bottom-color: transparent;
}

.input {
  background-color: transparent;
}

.input:focus-within {
  border-color: #15a0be;
  box-shadow: none;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: transparent;
  overflow-wrap: break-word;
}

.simple-border {
  border: 1px solid #303037;
}

.select select.is-focused,
.select select:focus,
.select select:focus-within {
  border-color: #15a0be;
  box-shadow: none;
}

.projects-list {
  font-size: 14px;
}

.projects-list dd {
  color: #ffffff;
}

.projects-list dt {
  margin-bottom: 8px;
}

.projects-list li:not(:last-child) {
  margin-bottom: 60px;
}

.progress-tracker {
  font-size: 12px;
  line-height: 1.5;
  border-radius: 4px;
  background-color: #06061b;
}

.step {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 4px;
  background-color: rgba(21, 160, 190, 0.1);
  overflow-wrap: break-word;
}

.step:last-child {
  margin-bottom: 0;
}

.step-text {
  flex-grow: 1;
  margin-right: 0.5rem;
}

.step.loading {
  border-left: 4px solid #15a0be;
}

.step.success {
  border-left: 4px solid #15a0be;
  background-color: rgba(21, 160, 190, 0.15);
}

.step.error {
  border-left: 4px solid #d32f2f;
  background-color: rgba(211, 47, 47, 0.1);
}

.loading-spinner {
  font-weight: bold;
  animation: blink 1s infinite;
  color: #15a0be;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

code.token {
  display: block;
  overflow-x: auto;
  max-width: 100%;
  padding: 0.5rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #fff;
  border-radius: 4px;
  background-color: #06061b;
  overflow-wrap: break-word;
}
